

.circle {
  border-radius: 50%;
  height: 5em;
  width: 5em;
  background-color: green;
  border: 1px solid black;
  position: relative;
  top: 0px;
  display:inline-block;
  z-index: 9001;
}

p{
  display: inline-block;
}

